@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body {
    font-family: "Afacad Flux", sans-serif;
    background-color: green;
}
.card {
    margin: 3rem;
    background-color: lightgreen;
    color: green;    
    border-radius: 1rem;
    display: flex;
    align-items: left;
    margin: 1rem;
    height: 90vh;
}

.card * {
    margin: 0;
    padding: 0;
}

.card .texts {
    margin: 1rem;
    text-align: justify;
}
.card img {
    width: 80%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card h1 {
    font-size: 5vw;
}